.post {
  display: flex;
  flex-direction: column; /* Stack the header and content vertically */
  background-color: #FFFFFF; /* White background */
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.post-header {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 15px; /* Space between header and content */
}

.upvote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px; /* Space between upvote section and title */
}

.upvote-button {
  background-color: transparent;
  border: none;
  font-size: 2em; /* Larger font size for the upvote button */
  cursor: pointer;
  color: #FF4500; /* Orange Red for upvote button */
}

.upvote-button:hover {
  color: #FF8b60; /* Crusta for hover effect */
}

.upvotes {
  font-size: 1.8em; /* Slightly larger font size for the upvote count */
  color: #336699; /* UI Text color */
  display: flex;
  align-items: center; /* Center text vertically */
  font-weight: bold;
  margin-left: -10px; /* Adjust to align number under arrow */
}

.post-title {
  flex: 1; /* Allow title to take remaining space */
}

.post-title h2 {
  margin: 0; /* Remove default margin */
  color: #333; /* Dark gray for title */
}

.post-content {
  flex: 1;
}

.comment-form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-form input {
  flex: 1;
  padding: 12px;
  margin-right: 10px;
  border: 1px solid #C6C6C6; /* Neutral color for border */
  border-radius: 5px;
  font-size: 1em;
}

.comment-form .cancel-button, .comment-form .comment-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.comment-form .cancel-button {
  background-color: #333; /* Dark gray for cancel button */
  color: #FFFFFF; /* White text */
}

.comment-form .cancel-button:hover {
  background-color: #555; /* Slightly lighter gray for hover */
}

.comment-form .comment-button {
  background-color: #007bff; /* Reddit Blue for comment button */
  color: #FFFFFF; /* White text */
}

.comment-form .comment-button:hover {
  background-color: #0056b3; /* Darker blue for hover */
}
