.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #EFF7FF; /* Light BG */
  color: #336699; /* UI Text */
}

.content {
  display: flex;
  margin-top: 20px;
  padding: 0 20px;
}

.main-content {
  flex: 1;
  margin-left: 20px;
}

h1, h2 {
  color: #1c1c1c; /* Retain the dark color for headings */
}

h3 {
  color: #1c1c1c; /* Retain the dark color for subheadings */
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .main-content {
    margin: 0;
  }

  .sidebar, .right-sidebar {
    width: 100%;
  }
}
