.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f6f7f8;
  color: #1c1c1c;
}

.content {
  display: flex;
  margin-top: 20px;
  padding: 0 20px;
}

.main-content {
  flex: 1;
  margin-left: 20px;
}

h1, h2 {
  color: #1c1c1c;
}

h3 {
  color: #1c1c1c;
  margin-top: 20px;
}
